<div :class="[$style.root]">
  <v-container class="mb-5 pb-5">
    <v-row>
      <v-btn 
      class="ma-2" 
      outlined 
      href="static/lemur/eLemur_3d_atlas_mesh.zip"
      download>
          Download eLemur_3d_atlas_mesh.zip
      </v-btn>
    </v-row>
    <v-row>
      <v-btn 
      class="ma-2" 
      outlined 
      href="static/lemur/eLemur_3d_atlas.label"
      download>
          Download eLemur_3d_atlas.label
      </v-btn>
    </v-row>
    <v-row>
      <v-btn 
      class="ma-2" 
      outlined 
      href="static/lemur/eLemur_3d_atlas.mhd.zip"
      download>
          Download eLemur_3d_atlas.mhd.zip
      </v-btn>
    </v-row>
  </v-container>
</div>
