<div :class="[$style.root]">
<v-container class="mb-5 pb-5">
  <v-row>
    <v-col cols="12">
      <v-card-title class="display-1">Contact Us</v-card-title>
    </v-col>
  </v-row>

  <v-row>
    <v-col cols="12">
      <v-card-title class="headline">Center</v-card-title>
      <v-col cols="12"><hr /></v-col>
      <v-card-text>
        Address:<br />
        Center for Functional Connectomics(CFC), <br />Korea Institute of
        Science and Technology (KIST), building L7<br />
        5, Hwarang-ro 14-gil, Seongbukgu, Seoul, 02792<br />Republic of Korea<br /><br />
        <v-icon>mdi-email</v-icon> kimj@kist.re.kr<br /><br />
        <v-icon>mdi-phone</v-icon> +82-2-958-7225
      </v-card-text>
    </v-col>
  </v-row>

  <v-row>
    <v-col cols="6">
      <v-img src="https://eeum-brain.com/static/img/Seoul_kist_map.jpg"></v-img>
    </v-col>
    <v-col cols="6">
      <v-img src="https://eeum-brain.com/static/img/KIST_Satellite.jpg"></v-img>
    </v-col>
  </v-row>

  <v-row>
    <v-col cols="12">
      <v-card-title class="headline">People</v-card-title>
      <v-col cols="12"><hr /></v-col>
      <v-card-text>
        JinHyun Kim (Jinny Kim) <br /><v-icon>mdi-email</v-icon>
        kimj@kist.re.kr<br /><br />

        Linqing Feng<br /><v-icon>mdi-email</v-icon> flq@live.com<br /><br />

        HyungJu Jeon<br /><v-icon>mdi-email</v-icon>
        hyungju.jeon@gmail.com<br /><br />

        Chris Park<br /><v-icon>mdi-email</v-icon>
        parkchris99@gmail.com<br /><br />

        Jun Ho Song<br /><v-icon>mdi-email</v-icon>
        jun.h.song92@gmail.com<br /><br />

        Sangbin Yoo<br /><v-icon>mdi-email</v-icon
        >ysbin0406@gmail.com<br /><br />

        Soomin Jeong<br /><v-icon>mdi-email</v-icon>
        sjeong0702@gmail.com<br /><br />
      </v-card-text>
    </v-col>
  </v-row>
</v-container>
</div>
