<div :class="[$style.root]" ref="elemurChartRef">
    <v-container :class="$style.containerStyle">
      <v-row no-gutters >
        <v-col cols="12"sm="2" md="2" lg="1" class="mr-5 mb-1"
      >
          <v-btn-toggle v-model="showType" @change="typeChange" mandatory xs>
            <v-btn :value="1">
              <v-icon>mdi-view-gallery</v-icon>
            </v-btn>
            <v-btn :value="2">
              <v-icon>mdi-view-comfy</v-icon>
            </v-btn>
          </v-btn-toggle>
        </v-col>
        <v-col cols="12" sm="4" md="3" lg="2" class="mr-5 mb-1"
        >
          <v-select
            :class="$style.selectList"
            v-model="selectType"
            solo-inverted
            hide-details
            :items="selectList"
            label="Select by"
            style="width: 300px"
            @change="slideChange"
          >
          </v-select>
        </v-col>
        <v-col cols="12" sm="2"  md="1" lg="1"
        >
          <v-switch
            v-model="isNetOpen"
            label="grid"
            @change="slideChange"
          ></v-switch>
        </v-col>
      </v-row>
      <v-row v-if="showType === 1" no-gutters>
        <elemur-chart v-if="!imgLoading" :id="selectImg + 2" :netOpen="isNetOpen" :mtype="selectType" :full="true" :eeumRegionDesc="eeumRegionDesc"></elemur-chart>
        <div v-else :class="$style.empty"></div>
      </v-row>
      <v-row v-if="showType === 1" no-gutters>
        <v-sheet
        class="my-4"
        elevation="8"
        max-width="100%"
        :class="$style.sheetStyle"
      >
        <v-slide-group
          v-model="selectImg"
          class="pa-4"
          center-active
          show-arrows
          @change="slideChange"
        >
          <v-slide-item
            v-for="n in itemTotalNum"
            :key="n"
            v-slot="{ active, toggle }"
          >
          <v-card
            :color="active ? 'green darken-2' : 'grey lighten-1'"
            class="px-4 py-0 mx-2"
            :height="screenWidth > 600 ? 160 : 100"
            :width="screenWidth > 600 ? 200 : 120"
            @click="toggle"
            >
            <v-img
              :lazy-src="`https://eeum-brain.com/static/static/reference_gallery/atlas/elemur_slice${n+1}.svg`"
              :src="`https://eeum-brain.com/static/static/reference_gallery/atlas/elemur_slice${n+1}.svg`"use
              :class="$style.image"
              :key="`slice${n+1}`"
              :alt="`slice${n+1}`"
            />
            </v-card>
          </v-slide-item>
        </v-slide-group>
      </v-sheet>
      </v-row>
      <v-row v-if="showType === 2 && !imgLoading" no-gutters class="d-flex flex-row flex-lg-wrap flex-sm-wrap">
        <elemur-chart v-for="item in currentItemTotal" :netOpen="isNetOpen" :id="item + 1" :mtype="selectType" :full="false" :eeumRegionDesc="eeumRegionDesc"></elemur-chart>
      </v-row>
      <v-row v-if="showType === 2 && !imgLoading">
        <div v-if="isLazyLoading" :class="$style.loading">Loading, please wait ...</div>
        <div v-if="noMore" :class="$style.loading">No more</div>
      </v-row>
    </v-container>
    <v-overlay :value="imgLoading">
      <v-progress-circular
        indeterminate
        size="64"
      ></v-progress-circular>
    </v-overlay>
    
  <!-- <v-container class="mb-5 pb-5">
    <v-row align-center v-viewer="options" class="images clearfix">
      <v-col
        class="mx-0 px-0 my-0 py-0"
        v-for="i in 177"
        :key="i"
        cols="10"
        sm="6"
        md="4"
        lg="3"
        xl="2"
      >
        <img
          :src="`https://eeum-brain.com/static/static/reference_gallery/atlas/elemur_slice${i+2}.svg`"
          :data-source="`https://eeum-brain.com/static/static/reference_gallery/atlas/elemur_slice${i+2}.svg`"
          :class="$style.image"
          :key="`slice${i+2}`"
          :alt="`slice${i+2}`"
        />
      </v-col>
    </v-row>
  </v-container> -->
  
</div>
