.root {
  display: flex;
  flex-flow: column;
  height: 100%;
  overflow-y: auto;
}

.imgwrap {
  width: 100%;
  height: auto;
  position: relative;
}
.imgwrap:hover .blurImg {
  filter: brightness(20%);
}
.imgwrap:hover .text {
  transition: .5s ease;
  opacity: 1;
}

.sticky {
  position: sticky;
  top: 0;
}

.blurImg {
  transition: .5s ease;
  filter: brightness(100%);
  z-index: 1;
}

.text {
  left:  50%;
  -webkit-transform: translate(-50%, 50%); /* iOS */
  transform: translate(-50%, 50%);
  margin: 0;
  position: fixed;
  display: flex;
  font-size: clamp(118.75%, 8vw, 400.25%);
  white-space: pre-line;
  opacity: 0;
  color: #FFFFFF;
  font-weight: 600;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
