<div :class="[$style.root]">
  <v-container class="mb-5 pb-5">
    <v-row align-center wrap :class="[$style.imgwrap]">
        <div :class="[$style.text]">
          Under Construction
          More Data Coming Soon
        </div>

        <v-card
          :class="[$style.blurImg]"
          width="100%"
        >
          <v-card-text>
            <h2 class="text-h4 primary--text">
              GPe-STN Connectivity
            </h2>
            Overview of individual indirect pathway dataset
          </v-card-text>
          <v-img  src="https://eeum-brain.com/static/static/SupplementaryFigure.png" />
      </v-card>
    </v-row>
  </v-container>
</div>

