<drag-and-drop
  :enabled="!landingVisible && !fileUploadDialog"
  v-on:drop="openFileList"
>
  <template v-slot:default="{ dragHover }">
    <v-app
      :class="$style.root"
    >
	  <v-navigation-drawer
	    v-model="controlsDrawer"
	    :clipped="$vuetify.breakpoint.mdAndUp"
	    :mobile-break-point="$vuetify.breakpoint.thresholds.md"
		  app
	    fixed
	    disable-resize-watcher
	    touchless
	    width="300"
	  >
	    <controls-drawer />
	  </v-navigation-drawer>
  
	  <v-app-bar app clipped-left>
	    <v-app-bar-nav-icon
	      v-if="needSetting"
	      :disabled="!needSetting"
	      @click.native.stop="controlsDrawer = !controlsDrawer"
	    >
	      <v-icon>mdi-settings</v-icon>
	    </v-app-bar-nav-icon>
	    <v-toolbar-title>Eeum Center</v-toolbar-title>
	    <!-- <v-btn
	      v-if="errors.length"
	      key="if-has-errors"
	      :class="$style.toolbarButton"
	      flat
	      color="error"
	      v-on:click="errorDialog = true"
	    >
	      <v-icon>error</v-icon>
	      <span>{{ errors.length }}</span>
	      &nbsp;
	      <span v-show="!smallScreen">error(s)</span>
	    </v-btn> -->
	    <v-spacer></v-spacer>

	    <v-tooltip
	      bottom
	      v-if="needSetting && visibleCount > 1"
	    >
	        <span :class="$style.noSelect">Hide Neuron Info</span>
	        <template v-slot:activator="{ on }">
	          <v-btn
	            v-on="on"
	            icon
	            v-on:click="singleView()"
	          >
	            <v-icon>mdi-fullscreen</v-icon>
	          </v-btn>
	          </template>
	    </v-tooltip>
	    <v-tooltip
	      bottom
	      v-if="needSetting && visibleCount === 1"
	    >
	        <span :class="$style.noSelect">Show Neuron Info</span>
	        <template v-slot:activator="{ on }">
	        <v-btn
	          v-on="on"
	          icon
	          v-on:click="splitView()"
	        >
	          <v-icon>mdi-flip-horizontal</v-icon>
	        </v-btn>
	        </template>
	    </v-tooltip>
    
	    <v-toolbar-items class="hidden-sm-and-down">
	      <v-btn v-for="item in menu" :key="item.title" :to="item.link" text>{{
	        item.title
	      }}</v-btn>
		<v-btn href="https://fenglab.xyz/eeum/api" target="_blank" text>
	        API<v-icon small>mdi-call-made</v-icon>
	      </v-btn>
	    </v-toolbar-items>
	    <div class="hidden-sm-and-down">
	      <v-switch label="Light theme" v-model="isLight" hide-details></v-switch>
	    </div>
	    <v-menu 
	      class="hidden-md-and-up"
	      open-on-hover
	    >
	      <template v-slot:activator="{ on }">
	        <v-app-bar-nav-icon v-on="on"></v-app-bar-nav-icon>
          </template>
      
	      <v-list>
	        <v-list-item v-for="item in menu" :key="item.title" :to="item.link">
	          <v-list-item-content>
	            <v-list-item-title>{{ item.title }}</v-list-item-title>
	          </v-list-item-content>
	        </v-list-item>
			<v-list-item key="API" href="https://fenglab.xyz/eeum/api" target="_blank">
	          <v-list-item-content>
	            <v-list-item-title>API<v-icon small>mdi-call-made</v-icon></v-list-item-title>
	          </v-list-item-content>
	        </v-list-item>
	        <v-switch label="Light theme" v-model="isLight" hide-details></v-switch>
	      </v-list>
	    </v-menu>
	  </v-app-bar>
	  <v-content :class="$style.appContent">
	    <router-view v-on:open-urls="autoLoadRemotes"></router-view>
	  </v-content>

	  <v-footer color="transparent" app>
	      <v-card
	        class="flex text-xs-center"
	        text
	        item
	        color="transparent"
	      >
	        <v-card-actions class="darken-3 justify-center">
	          &copy; {{ new Date().getFullYear() }} — <strong>Eeum Center</strong>
	        </v-card-actions>
	      </v-card>
	  </v-footer>

      <v-navigation-drawer
        v-model="screenshotsDrawer"
        :stateless="screenshotsDrawerStateless"
        app
        right
        temporary
        touchless
        width="300"
      >
        <screenshots
          v-on:screenshot-count="screenshotCount = $event"
          v-on:close="screenshotsDrawer = false"
        />
      </v-navigation-drawer>

      <!-- file loader -->
      <file-loader
        v-model="fileUploadDialog"
        v-on:load="doneLoadingFiles"
      />

      <v-dialog v-model="autoloadDialog" persistent width="60%">
        <v-card class="pa-4">
          <v-card-title
            class="justify-center text-center title pv-break-word"
          >
            Loading {{ autoloadLabel }}...
          </v-card-title>
        </v-card>
      </v-dialog>

      <!-- state generator -->
      <!-- <state-file-generator /> -->

      <!-- dnd overlay -->
      <!-- <div
        :class="{ [$style.overlay]: true, [$style.overlayVisible]: dragHover }"
      >
        <div :class="$style.overlayText">
          <div class="display-3">Drop files here</div>
          <v-icon size="4.75rem">mdi-publish</v-icon>
        </div>
      </div> -->

      <!-- browser issues -->
      <!-- <browser-issues /> -->

      <!-- about dialog -->
      <!-- <component
        :is="dialogType"
        v-model="aboutDialog"
        max-width="50%"
      >
        <about-box v-on:close="aboutDialog = false" />
      </component> -->

      <!-- error dialog-->
      <component
        :is="dialogType"
        v-model="errorDialog"
        max-width="50%"
      >
        <error-box
          :errors="errors"
          v-on:close="errorDialog = false"
          v-on:clear="errors = []"
        />
      </component>

      <!-- <v-snackbar
        :value="!!globalSingleNotification"
        @input="globalSingleNotification = ''"
        bottom
        left
        :timeout="notifyPermanent ? 0 : 6000"
        @click="globalSingleNotification = ''"
      >
        {{ globalSingleNotification }}
        <v-btn text>close</v-btn>
      </v-snackbar> -->

      <!-- portal mount point -->
      <!-- <div id="app-portal-mount" /> -->
    </v-app>
  </template>
</drag-and-drop>
