<div :class="[$style.root]">
<v-container class="mb-5 pb-5">
  <v-row wrap>
    <v-col style="position:fixed; z-index:999; background-color: rgba( 50, 50, 50, 0.7 )"
      cols="3"
    >
      <v-card-text style="font-size:2em;">
        <template v-for="ch in item.channels">
          <span :style="`color:${ch.color}`">{{ch.name}}&nbsp</span>
        </template>
      </v-card-text>
    </v-col>
    <v-col class="mx-0 px-0 my-0 py-0"
      v-for="i in item.numSlices"
      :key="i"
      cols="10"
      sm="6"
      md="4"
      lg="3"
      xl="2"
    >
      <a
        :href="`${item.sliceLinkPre}${i-0.5}${item.sliceLinkPost}`"
        target="_blank"
        :id="`slice${i}`"
      >
        <svg
          xmlns:svg="https://www.w3.org/2000/svg"
          xmlns="https://www.w3.org/2000/svg"
          xmlns:xlink="https://www.w3.org/1999/xlink"
          width="100%"
          viewBox="0 0 512 370"
        >
          <image
            :xlink:href="`${item.sliceSrc}${i}.png`"
            width="512px"
            height="370px"
            y="0"
            x="0"
          />
          <image
            xlink:href="https://eeum-brain.com/static/static/mesh.png"
            width="96px"
            height="96px"
            y="270"
            x="400"
          />
          <g id="g3373">
            <line
              :x1="410+(i-1)/(item.numSlices)*(80-3)"
              y1="270"
              :x2="410+(i-1)/(item.numSlices)*(80-3)"
              y2="370"
              stroke-miterlimit="10"
              style="fill:none;stroke-width:3;stroke:cyan"
            />
          </g>
        </svg>
      </a>
    </v-col>
  </v-row>
</v-container>
</div>
