<div :class="[$style.root]">
  <v-container class="mb-5 pb-5">
    <v-row wrap>
      <v-col
        style="position:fixed; z-index:999;"
      >
        <v-card style="font-size:2em;"
                class="d-inline-flex justify-left pa-2">
          <template v-for="ch in item.channels">
            <span :style="`color:${ch.color}`">{{ch.name}}&nbsp</span>
          </template>
        </v-card>
      </v-col>
      <v-col
        class="ma-0 pa-0"
        v-for="i in item.numSlices"
        :key="i"
        cols="12"
        xs="12"
        sm="6"
        md="4"
        lg="3"
        xl="2"
      >
      </v-col>
      <v-col
        class="ma-0 pa-0"
        v-for="i in item.numSlices"
        :key="i"
        cols="12"
        xs="12"
        sm="6"
        md="4"
        lg="3"
        xl="2"
      >
        <a>
          <v-lazy
            v-model="isActive"
            :options="{
          threshold: .5
        }"
            min-height="200"
            transition="fade-transition"
          >
            <svg
              xmlns:svg="https://www.w3.org/2000/svg"
              xmlns="https://www.w3.org/2000/svg"
              xmlns:xlink="https://www.w3.org/1999/xlink"
              viewBox="0 0 512 370"
            >
              <image
                :xlink:href="`${item.sliceSrc}${i}.png`"
                width="512px"
                height="370px"
                y="0"
                x="0"
              />

              <image
                xlink:href="https://eeum-brain.com/static/static/mesh.png"
                width="96px"
                height="96px"
                y="270"
                x="400"
              />
              <g id="g3373">
                <line
                  :x1="410+(i-1)/(item.numSlices)*(80-3)"
                  y1="270"
                  :x2="410+(i-1)/(item.numSlices)*(80-3)"
                  y2="370"
                  stroke-miterlimit="10"
                  style="fill:none;stroke-width:3;stroke:cyan"
                />
              </g>
            </svg>
          </v-lazy>
        </a>
      </v-col>
    </v-row>
  </v-container>
</div>
