<div :class="[$style.root]">
  <v-container class="mb-5 pb-5">
    <v-row align-center v-viewer="options" class="images clearfix">
      <v-col
        class="mx-0 px-0 my-0 py-0"
        v-for="i in 2"
        :key="i"
        cols="12"
        xs="12"
        sm="12"
        md="12"
        lg="12"
        xl="12"
      >
        <img
          :src="`https://neutracing.com/static/static/FullResolutionViewGuide/slice${i}.png`"
          :data-source="`https://neutracing.com/static/static/FullResolutionViewGuide/slice${i}.png`"
          :class="$style.image"
          :key="`slice${i+1}`"
          :alt="`slice${i+1}`"
        />
      </v-col>
    </v-row>
  </v-container>
</div>
