<v-container class="mb-5 pb-5" style="height: 100%; overflow-y: auto;">
  <v-row align-center>
    <v-col cols=12>
      <p class="text-h6">
        References:<br />
      <ul class="text-body-1">
        <li>
          <a href="https://doi.org/10.1016/j.celrep.2018.06.076" target="_blank">
            Combining mGRASP and Optogenetics Enables High-Resolution
            Functional Mapping of Descending Cortical Projections (2018)
          </a>
          <br />
        </li>
        <li>
          <a href="https://doi.org/10.1523/JNEUROSCI.0155-18.2018" target="_blank">
            Schaffer Collateral Inputs to CA1 Excitatory and
            Inhibitory
            Neurons Follow Different Connectivity Rules (2018)
          </a>
          <br />
        </li>
        <li>
          <a href="https://doi.org/10.1523/ENEURO.0049-14.2014" target="_blank">
            neuTube 1.0: A New Design for Efficient Neuron
            Reconstruction
            Software Based on the SWC Format (2015)
          </a>
          <br />
        </li>
        <li> 
          <a href="https://doi.org/10.1016/j.neuron.2013.11.026" target="_blank">
            Structured Synaptic Connectivity between Hippocampal
            Regions (2014)
          </a>
          <br />
        </li>
        <li>
          <a href="https://doi.org/10.1093/bioinformatics/bts221" target="_blank">
            Improved synapse detection for mGRASP-assisted
            brain
            connectivity mapping (2012)
          </a>
          <br />
        </li>
      </ul>
      </p>
    </v-col>
  </v-row>
</v-container>