<v-container class="mb-5 pb-5">
  <v-row align-center>
    <v-col cols=12>
      <p class="text-h6">
        References:<br />
      <ul class="text-body-1">
        <li>
            Song J, Lucaci D, Calangiu I, Park J, Kim J, Brickley S, and Chadderton P. 
            (2018). Combining mGRASP and optogenetics enables high-resolution functional 
            mapping of descending cortical projections. <em><b>Cell Reports</b></em> 24(4), 1071-1080
          <a href="https://doi.org/10.1016/j.celrep.2018.06.076" target="_blank">
          [link<v-icon small>mdi-call-made</v-icon>]
          </a>
        </li>
        <li>
            Kwon O, Feng L, Druckmann S, and Kim J (2018). Schaffer collateral inputs to 
            CA1 excitatory and inhibitory neurons follow different connectivity rules. 
            <em><b>Journal of Neuroscience</b></em> 38(22), 5140-5152
          <a href="https://doi.org/10.1523/JNEUROSCI.0155-18.2018" target="_blank">
          [link<v-icon small>mdi-call-made</v-icon>]
          </a>
        </li>
        <li>
            Feng L, Zhao T, and Kim J (2015). neuTube 1.0: A new design for efficient 
            neuron reconstruction software based on the SWC format. <em><b>eNeuro</b></em> 2(1) 
            e0049-14.2014 1-0
          <a href="https://doi.org/10.1523/ENEURO.0049-14.2014" target="_blank">
          [link<v-icon small>mdi-call-made</v-icon>]
          </a>
        </li>
        <li>
            Feng L, Kwon O, Lee B, Oh W, and Kim J (2014). Using mammalian GFP 
            reconstitution across synaptic partners (mGRASP) to map synaptic 
            connectivity in the mouse brain. <em><b>Nature Protocols</b></em> 9, 2425-2437
          <a href="https://www.nature.com/articles/nprot.2014.166" target="_blank">
          [link<v-icon small>mdi-call-made</v-icon>]
          </a>
        </li>
        <li> 
            Druckmann S, Feng L, Lee B, Yook C, Zhao T, Magee J.C., and Kim J (2014). 
            Structured synaptic connectivity between hippocampal regions. <em><b>Neuron</b></em> 81, 1-12
          <a href="https://doi.org/10.1016/j.neuron.2013.11.026" target="_blank">
          [link<v-icon small>mdi-call-made</v-icon>]
          </a>
        </li>
        <li>
            Feng L, Zhao T, and Kim J (2012). Improved synapse detection for 
            mGRASP-assistant connectivity mapping. <em><b>Bioinformatics</b></em> 28(12):25-31
          <a href="https://doi.org/10.1093/bioinformatics/bts221" target="_blank">
          [link<v-icon small>mdi-call-made</v-icon>]
          </a>
        </li>
      </ul>
      </p>
    </v-col>
  </v-row>
</v-container>