<v-container class="mb-5 pb-5" style="height: 100%; overflow-y: auto;">
  <v-row align-center>
    <v-col cols="12">
      <v-btn outlined href="neuroglancer/#!http://eeum-brain.com/static/neuroglancer_data/Atlas/base.json"
        target="_blank">
        Explore 3D Meshes<v-icon small>mdi-call-made</v-icon>
      </v-btn>
    </v-col>
    <v-col cols="5">
      <v-img src="http://eeum-brain.com/static/static/3d1.jpg" contain>
      </v-img>
    </v-col>
    <v-col cols="5">
      <v-img src="http://eeum-brain.com/static/static/3d3.jpg" contain>
      </v-img>
    </v-col>
    <v-col cols="5">
      <v-img src="http://eeum-brain.com/static/static/3d2.jpg" contain>
      </v-img>
    </v-col>
    <v-col cols="5">
      <v-img src="http://eeum-brain.com/static/static/3d4.jpg" contain>
      </v-img>
    </v-col>
    <v-col cols="5">
      <v-img src="http://eeum-brain.com/static/static/3d5.jpg" contain>
      </v-img>
    </v-col>
  </v-row>
</v-container>
